spring:
  application:
    name: digital-registered-letter
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6.14:///
  flyway:
    enabled: true
  jpa:
    properties:
      jakarta:
        persistence:
          schema-generation:
            database:
              action: validate
  security:
    oauth2:
      client:
        registration:
          party:
            client-id: the-client-id
            client-secret: the-client-secret
          messaging:
            client-id: messaging-client-id
            client-secret: messaging
          templating:
            client-id: templating-client-id
            client-secret: templating
        provider:
          party:
            token-uri: http://localhost:${wiremock.server.port:}/token
          messaging:
            token-uri: http://localhost:${wiremock.server.port:}/token
          templating:
            token-uri: http://localhost:${wiremock.server.port:}/token
integration:
  party:
    connectTimeout: 5
    readTimeout: 30
    url: http://localhost:${wiremock.server.port}/party
  kivra:
    api-url: http://localhost:${wiremock.server.port}/kivra/some-tenant-key
    base-url: http://localhost:${wiremock.server.port}/kivra
    connectTimeout: PT5S
    readTimeout: PT15S
    oauth2:
      token-url: http://localhost:${wiremock.server.port:}/token
      client-id: some-client-id
      client-secret: some-client-secret
      authorization-grant-type: client_credentials
  messaging:
    connect-timeout: 5
    read-timeout: 30
    url: http://localhost:${wiremock.server.port}/messaging
  templating:
    connect-timeout: 5
    read-timeout: 30
    url: http://localhost:${wiremock.server.port}/templating
    receipt-template-identifier: some-receipt-identifier
scheduler:
  update-letter-statuses:
    name: update-letter-statuses
    shedlock-lock-at-most-for: PT1M
    maximum-execution-time: PT1M
  certificate-health:
    name: certificate-health
    lock-at-most-for: PT2M
    maximum-execution-time: PT2M
    notification:
      mail:
        subject: someMailSubject
        sender:
          name: someSender
          email-address: some.sender@address.com
        recipients:
          - some.recipient@address.com
      slack:
        channel: someSlackChannel
        message: someSlackMessage
        token: someSlackToken
