spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6.14:///
  jpa:
    hibernate:
      ddl-auto: create-drop
      defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          schema-generation:
            script:
              append: false
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: update
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
  security:
    oauth2:
      client:
        registration:
          party:
            client-id: the-client-id
            client-secret: the-client-secret
          messaging:
            client-id: messaging-client-id
            client-secret: messaging
          templating:
            client-id: templating-client-id
            client-secret: templating
        provider:
          party:
            token-uri: http://token.url
          messaging:
            token-uri: http://messaging.token.url
          templating:
            token-uri: http://templating.token.url
integration:
  party:
    connectTimeout: 5
    readTimeout: 30
    url: http://localhost:8080/party
  kivra:
    api-url: http://kivra-url.com
    connect-timeout: PT5S
    read-timeout: PT15S
    oauth2:
      token-url: http://token-url.com
      client-id: some-client-id
      client-secret: some-client-secret
      authorization-grant-type: client_credentials
  messaging:
    connect-timeout: 5
    read-timeout: 30
    url: http://localhost:8080/messaging
  templating:
    connect-timeout: 5
    read-timeout: 30
    url: http://localhost:8080/templating
scheduler:
  update-letter-statuses:
    name: update-letter-statuses
    shedlock-lock-at-most-for: PT1M
    maximum-execution-time: PT1M
  certificate-health:
    name: certificate-health
    lock-at-most-for: PT2M
    maximum-execution-time: PT2M
    notification:
      mail:
        subject: someMailSubject
        sender:
          name: someSender
          email-address: some.sender@address.com
        recipients:
          - some.recipient@address.com
      slack:
        channel: someSlackChannel
        message: someSlackMessage
        token: someSlackToken
